n8n-workflows/slack-status-to-reaction-sheet.json
{
  "name": "Slack #30状況 → 反響管理シート自動更新",
  "nodes": [
    {
      "parameters": {
        "trigger": ["message"],
        "channelId": { "__rl": true, "value": "C09S9N5EATE", "mode": "id" },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000001",
      "name": "Slack Trigger（#30）",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [220, 300],
      "webhookId": "slack-30-status",
      "credentials": { "slackApi": { "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID", "name": "Slack API" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "REPLACE_WITH_ANTHROPIC_API_KEY" },
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-8', max_tokens: 500, messages: [{ role: 'user', content: '次のSlackメッセージから、特定の顧客の状況更新が含まれるか判定し、含まれる場合のみ抽出してJSONのみで返答（前後の説明やコードブロック不要）。新規来場予約の定型ボット投稿や顧客名の無い連絡は relevant=false。値は必ず指定の選択肢のみ、該当しない項目は空文字。\\nJSON形式: {\"relevant\":true/false,\"name\":\"顧客の苗字か氏名\",\"tanto\":\"三浦|上田|嶺田勝|長谷川|武田\",\"tsuden\":\"未架電|通電|留守|不在|断り|番号違う\",\"zoom\":\"有|無|設定済\",\"status\":\"新規|対応中|アポ確定|来場済|失注\",\"nextAction\":\"架電|再架電|Zoom調整|来場調整|内見調整|再訪|申込手続き|クロージング|見送り\",\"datetime\":\"確定アポ/内見の日時(例 6/27(土)14:00)\",\"naiken\":\"未|調整中|確定|実施済\",\"memo\":\"状況の要約1行\"}\\n\\nメッセージ:\\n' + ($json.text || $json.event?.text || $json.message?.text || '') }] }) }}",
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000002",
      "name": "Claudeで解析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Claudeの応答からJSONを取り出し、relevantかつnameがある時だけ次へ\nconst t = ($json.content && $json.content[0] && $json.content[0].text) || '';\nlet u;\ntry { u = JSON.parse(String(t).replace(/```json|```/g, '').trim()); } catch (e) { return []; }\nif (!u || !u.relevant || !u.name) return [];\ndelete u.relevant;\nreturn [{ json: { update: u } }];"
      },
      "id": "e1000000-0000-4000-8000-000000000003",
      "name": "解析結果を判定",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbyYfb-XTDekyx9GvEfLYXai3JmRxTKc1RJxkIX8w2L_ExjX2NJUVsPNN_vZI1x01qot/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'updateStatus', update: $json.update }) }}",
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000004",
      "name": "反響管理シートを更新",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Slack Trigger（#30）": { "main": [[{ "node": "Claudeで解析", "type": "main", "index": 0 }]] },
    "Claudeで解析": { "main": [[{ "node": "解析結果を判定", "type": "main", "index": 0 }]] },
    "解析結果を判定": { "main": [[{ "node": "反響管理シートを更新", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "meta": {
    "description": "Slack #30 の新着メッセージをClaudeで解析し、顧客の状況更新（担当/通電/zoom/ステータス/次回アクション/確定日時/内見/メモ）を抽出してApps Script(action:updateStatus)で反響管理シートの該当行を自動更新する。コスト優先なら model を claude-haiku-4-5 に変更可。"
  }
}
