n8n-workflows/slack-modal-submit-handler.json
{
  "name": "Slack Modal Submit → Sheets + Channel Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-modal-submit",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "submit-01-webhook",
      "name": "Webhook /slack-modal-submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "slack-modal-submit"
    },
    {
      "parameters": {
        "jsCode": "// Slack interactivity payload は body.payload に JSON 文字列で入る\nconst raw = $input.first().json.body?.payload;\nif (!raw) {\n  return [{ json: { error: 'no payload', skip: true } }];\n}\nconst payload = typeof raw === 'string' ? JSON.parse(raw) : raw;\nif (payload.type !== 'view_submission') {\n  return [{ json: { skip: true, type: payload.type } }];\n}\nconst view = payload.view;\nconst values = view.state.values;\nconst meta = view.private_metadata ? JSON.parse(view.private_metadata) : {};\n\n// block_id.action_id.value or selected_option.value or selected_date 等を吸収\nfunction val(blockId) {\n  const block = values[blockId];\n  if (!block) return '';\n  const el = Object.values(block)[0];\n  if (!el) return '';\n  return el.value\n    ?? el.selected_date\n    ?? el.selected_date_time\n    ?? el.selected_option?.value\n    ?? '';\n}\n\nconst callback_id = view.callback_id;\nconst now = new Date().toISOString();\n\nlet flat = {\n  timestamp: now,\n  callback_id,\n  staff_slack_id: meta.user_id,\n  staff_slack_name: meta.user_name,\n  channel_id: meta.channel_id,\n};\n\nif (callback_id === 'daily_report') {\n  flat = { ...flat,\n    report_date: val('report_date'),\n    call_count: val('call_count'),\n    apo_count: val('apo_count'),\n    meeting_count: val('meeting_count'),\n    contract_count: val('contract_count'),\n    highlights: val('highlights'),\n    tomorrow_plan: val('tomorrow_plan'),\n    blockers: val('blockers'),\n  };\n  flat.sheet_name = 'daily_reports';\n  flat.notify_text = `📅 *日報* by <@${meta.user_id}> (${val('report_date')})\\n架電 ${val('call_count')} / アポ ${val('apo_count')} / 商談 ${val('meeting_count') || 0} / 契約 ${val('contract_count') || 0}\\n*ハイライト:* ${val('highlights')}`;\n} else if (callback_id === 'apo_action') {\n  flat = { ...flat,\n    action_type: val('action_type'),\n    customer_code: val('customer_code'),\n    deal_code: val('deal_code'),\n    apo_datetime: val('apo_datetime'),\n    reason: val('reason'),\n  };\n  flat.sheet_name = 'apo_log';\n  flat.notify_text = `📌 *アポ ${val('action_type')}* by <@${meta.user_id}>\\n顧客: ${val('customer_code')} / 案件: ${val('deal_code') || '—'}\\n日時: ${val('apo_datetime')}\\n${val('reason') ? '理由: ' + val('reason') : ''}`;\n} else if (callback_id === 'customer_feedback') {\n  flat = { ...flat,\n    deal_code: val('deal_code'),\n    customer_code: val('customer_code'),\n    feedback_type: val('feedback_type'),\n    rating: val('rating'),\n    content: val('content'),\n    action_needed: val('action_needed'),\n  };\n  flat.sheet_name = 'feedback_log';\n  flat.notify_text = `💬 *フィードバック* by <@${meta.user_id}>\\n案件 ${val('deal_code')} / 顧客 ${val('customer_code')} / ${val('feedback_type')} (★${val('rating')})\\n${val('content')}`;\n} else {\n  return [{ json: { skip: true, callback_id } }];\n}\n\nreturn [{ json: flat }];\n"
      },
      "id": "submit-02-parse",
      "name": "Parse + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"response_action\": \"clear\" }",
        "options": { "responseCode": 200 }
      },
      "id": "submit-03-respond",
      "name": "Respond 200 (clear modal)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 580]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEqual" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "submit-04-skip-check",
      "name": "Is valid submission?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 280]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "daily", "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.callback_id }}", "rightValue": "daily_report", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "apo", "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.callback_id }}", "rightValue": "apo_action", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "feedback", "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.callback_id }}", "rightValue": "customer_feedback", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "id": "submit-05-switch",
      "name": "Route by callback_id",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [960, 280]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "daily_reports", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "submit-06-sheets-daily",
      "name": "Append daily_reports",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1220, 160],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "apo_log", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "submit-07-sheets-apo",
      "name": "Append apo_log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1220, 280],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "feedback_log", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "submit-08-sheets-fb",
      "name": "Append feedback_log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1220, 400],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": { "__rl": true, "value": "REPLACE_WITH_SLACK_CHANNEL_ID", "mode": "id" },
        "text": "={{ $json.notify_text }}",
        "otherOptions": { "mrkdwn": true }
      },
      "id": "submit-09-slack-notify",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1480, 280],
      "credentials": {
        "slackOAuth2Api": { "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID", "name": "Slack" }
      }
    }
  ],
  "connections": {
    "Webhook /slack-modal-submit": { "main": [[{ "node": "Parse + Normalize", "type": "main", "index": 0 }]] },
    "Parse + Normalize": { "main": [[
      { "node": "Is valid submission?", "type": "main", "index": 0 },
      { "node": "Respond 200 (clear modal)", "type": "main", "index": 0 }
    ]] },
    "Is valid submission?": { "main": [
      [{ "node": "Route by callback_id", "type": "main", "index": 0 }],
      []
    ] },
    "Route by callback_id": { "main": [
      [{ "node": "Append daily_reports", "type": "main", "index": 0 }],
      [{ "node": "Append apo_log", "type": "main", "index": 0 }],
      [{ "node": "Append feedback_log", "type": "main", "index": 0 }]
    ] },
    "Append daily_reports": { "main": [[{ "node": "Notify Slack Channel", "type": "main", "index": 0 }]] },
    "Append apo_log": { "main": [[{ "node": "Notify Slack Channel", "type": "main", "index": 0 }]] },
    "Append feedback_log": { "main": [[{ "node": "Notify Slack Channel", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "slack" }, { "name": "modal" }, { "name": "sheets" }, { "name": "submit-handler" }]
}
