n8n-workflows/slack-summary-to-hearing-sheet.json
{
  "name": "反響サマリー直送 → ヒアリングシート転記",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-hearing-summary",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000001",
      "name": "Webhook（サマリー受け）",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "slack-hearing-summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.text || '' }}",
              "rightValue": "反響顧客ヒアリングサマリー",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000002",
      "name": "サマリー本文のみ通す",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_APPS_SCRIPT_WEBAPP_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'importSummary', sheet: ($json.body.sheet || 'ヒアリングシート①'), text: $json.body.text }) }}",
        "options": {}
      },
      "id": "b1000000-0000-4000-8000-000000000003",
      "name": "Apps Scriptへ転記",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 220]
    },
    {
      "parameters": {},
      "id": "b1000000-0000-4000-8000-000000000004",
      "name": "対象外（無視）",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, 400]
    }
  ],
  "connections": {
    "Webhook（サマリー受け）": {
      "main": [[{ "node": "サマリー本文のみ通す", "type": "main", "index": 0 }]]
    },
    "サマリー本文のみ通す": {
      "main": [
        [{ "node": "Apps Scriptへ転記", "type": "main", "index": 0 }],
        [{ "node": "対象外（無視）", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "meta": {
    "description": "面談サマリー本文を {text, sheet} で直接POSTすると、Apps Script Web App(action:importSummary)経由でヒアリングシートへ53列転記する。Slackイベントに依存しない直送方式。"
  }
}
