n8n-workflows/telegram-call-log-to-sheet.json
{
  "name": "Telegram Call Log → Telephone Sheet Update",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "2a0e3a01-1111-4b01-9001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "telegram-call-log",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Expected formats:\n//   \"<No.> <結果>\"             e.g. \"3 アポ獲得\"\n//   \"/log <No.> <結果>\"\n//   \"<No.>:<結果>\"\n// 結果 keywords (case-insensitive):\n//   アポ獲得 / アポ / 不在 / 留守 / 拒否 / 再架電 / 番号違い / その他\n\nconst raw = ($json.message?.text || '').trim();\nconst stripped = raw.replace(/^\\/log\\s+/i, '').replace(/[：:]/g, ' ');\nconst match = stripped.match(/^\\s*(\\d+)\\s+(.+)$/s);\n\nif (!match) {\n  return [{\n    json: {\n      ok: false,\n      reason: 'parse_error',\n      raw,\n      hint: '使い方: \"<No.> <結果>\" 例) 3 アポ獲得',\n      reply_chat_id: $json.message.chat.id,\n      reply_message_id: $json.message.message_id,\n    },\n  }];\n}\n\nconst no = Number(match[1]);\nconst result = match[2].trim();\n\n// Map result keyword to next 架電ステータス\nconst statusMap = [\n  { re: /アポ獲得|獲得|成約/i, status: 'アポ獲得' },\n  { re: /アポ($|[^獲])/i,       status: 'アポ予定' },\n  { re: /不在|留守/i,           status: '次回架電予定' },\n  { re: /拒否|断り|NG/i,         status: '対応不可' },\n  { re: /再架電|再電|折り返し/i, status: '次回架電予定' },\n  { re: /番号違い|誤番/i,        status: '番号誤り' },\n];\nconst nextStatus = (statusMap.find(s => s.re.test(result)) || { status: '架電済み' }).status;\nconst isAppointment = /アポ獲得|獲得|成約/i.test(result);\n\nreturn [{\n  json: {\n    ok: true,\n    no,\n    result,\n    next_status: nextStatus,\n    is_appointment: isAppointment,\n    today: new Date().toISOString().slice(0, 10),\n    operator: $json.message.from.username || ($json.message.from.first_name || '') + ' ' + ($json.message.from.last_name || ''),\n    reply_chat_id: $json.message.chat.id,\n    reply_message_id: $json.message.message_id,\n  },\n}];"
      },
      "id": "2a0e3a01-2222-4b02-9002-000000000002",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a0e3a01-3333-4b03-9003-000000000003",
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "テレアポ管理シート",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "No.",
              "lookupValue": "={{ $json.no }}"
            }
          ]
        },
        "options": { "returnAllMatches": false }
      },
      "id": "2a0e3a01-4444-4b04-9004-000000000004",
      "name": "Lookup Row by No.",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\nconst input = $('Parse Command').item.json;\n\nlet slot = 0;\nfor (let i = 1; i <= 3; i++) {\n  const v = row[`架電日${i}`];\n  if (v === undefined || v === null || String(v).trim() === '') {\n    slot = i;\n    break;\n  }\n}\n\nif (slot === 0) {\n  return [{\n    json: {\n      ok: false,\n      reason: 'no_slot',\n      no: input.no,\n      message: `No.${input.no} は既に3回架電済みです。手動で更新してください。`,\n      reply_chat_id: input.reply_chat_id,\n      reply_message_id: input.reply_message_id,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    slot,\n    row_no: row['No.'],\n    name: row['お名前'],\n    phone: row['電話番号'],\n    next_status: input.next_status,\n    result: input.result,\n    today: input.today,\n    operator: input.operator,\n    is_appointment: input.is_appointment,\n    reply_chat_id: input.reply_chat_id,\n    reply_message_id: input.reply_message_id,\n  },\n}];"
      },
      "id": "2a0e3a01-5555-4b05-9005-000000000005",
      "name": "Pick Empty Slot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "slotok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a0e3a01-6666-4b06-9006-000000000006",
      "name": "Slot OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "テレアポ管理シート",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No.": "={{ $json.row_no }}",
            "架電ステータス": "={{ $json.next_status }}",
            "架電日{{ $json.slot }}": "={{ $json.today }}",
            "架電結果{{ $json.slot }}": "={{ $json.result }} ({{ $json.operator }})"
          },
          "matchingColumns": ["No."],
          "schema": [
            { "id": "No.", "displayName": "No.", "required": true, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "架電ステータス", "displayName": "架電ステータス", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電日1", "displayName": "架電日1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電結果1", "displayName": "架電結果1", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電日2", "displayName": "架電日2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電結果2", "displayName": "架電結果2", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電日3", "displayName": "架電日3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "架電結果3", "displayName": "架電結果3", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "2a0e3a01-7777-4b07-9007-000000000007",
      "name": "Update Sheet Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1580, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "appt",
              "leftValue": "={{ $('Pick Empty Slot').item.json.is_appointment }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a0e3a01-8888-4b08-9008-000000000008",
      "name": "Is Appointment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1820, 120]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "=:tada: *アポ獲得!*\n*No.{{ $('Pick Empty Slot').item.json.row_no }}* {{ $('Pick Empty Slot').item.json.name }} ({{ $('Pick Empty Slot').item.json.phone }})\n*担当:* {{ $('Pick Empty Slot').item.json.operator }}\n*結果:* {{ $('Pick Empty Slot').item.json.result }}\n*日付:* {{ $('Pick Empty Slot').item.json.today }}",
        "otherOptions": { "mrkdwn": true }
      },
      "id": "2a0e3a01-9999-4b09-9009-000000000009",
      "name": "Slack: Appointment",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2060, 60],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Pick Empty Slot').item.json.reply_chat_id }}",
        "text": "=:white_check_mark: 記録しました\nNo.{{ $('Pick Empty Slot').item.json.row_no }} {{ $('Pick Empty Slot').item.json.name }}\n架電{{ $('Pick Empty Slot').item.json.slot }}: {{ $('Pick Empty Slot').item.json.result }}\nステータス: {{ $('Pick Empty Slot').item.json.next_status }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Pick Empty Slot').item.json.reply_message_id }}"
        }
      },
      "id": "2a0e3a01-aaaa-4b0a-900a-00000000000a",
      "name": "Telegram: Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2300, 120],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.reply_chat_id }}",
        "text": "=:warning: パースできませんでした\n{{ $json.hint || $json.message || '不明なエラー' }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $json.reply_message_id }}"
        }
      },
      "id": "2a0e3a01-bbbb-4b0b-900b-00000000000b",
      "name": "Telegram: Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 460],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Parse Command", "type": "main", "index": 0 }]]
    },
    "Parse Command": {
      "main": [[{ "node": "Parse OK?", "type": "main", "index": 0 }]]
    },
    "Parse OK?": {
      "main": [
        [{ "node": "Lookup Row by No.", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Error", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Row by No.": {
      "main": [[{ "node": "Pick Empty Slot", "type": "main", "index": 0 }]]
    },
    "Pick Empty Slot": {
      "main": [[{ "node": "Slot OK?", "type": "main", "index": 0 }]]
    },
    "Slot OK?": {
      "main": [
        [{ "node": "Update Sheet Row", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Error", "type": "main", "index": 0 }]
      ]
    },
    "Update Sheet Row": {
      "main": [[{ "node": "Is Appointment?", "type": "main", "index": 0 }]]
    },
    "Is Appointment?": {
      "main": [
        [
          { "node": "Slack: Appointment", "type": "main", "index": 0 },
          { "node": "Telegram: Confirm", "type": "main", "index": 0 }
        ],
        [{ "node": "Telegram: Confirm", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [
    { "name": "telegram" },
    { "name": "sheets" },
    { "name": "telephone-sales" }
  ]
}
